#!/bin/bash

set -e

CURRENT_TIMESTAMP=$(python -c 'import time; print int(round(time.time() * 1000))')

LOG_GROUP_NAME="{{ project }}-{{ env }}-lamp"
LOG_STREAM_NAME="{{ project }}-{{ env }}-lamp-$CURRENT_TIMESTAMP"

export AWS_DEFAULT_REGION="us-east-1"

aws logs create-log-stream --log-group-name "$LOG_GROUP_NAME" --log-stream-name "$LOG_STREAM_NAME"

{
  sudo mkdir -p {{ pf3server_backup_directory }}/
  sudo aws s3 cp s3://{{ project }}-{{ env}}-lamp{{ pf3server_backup_directory }} {{ pf3server_backup_directory }}/ --recursive
} || {
  aws logs put-log-events --log-group-name "$LOG_GROUP_NAME" --log-stream-name "$LOG_STREAM_NAME" --log-events "timestamp=$CURRENT_TIMESTAMP,message=ERROR\tFailed to restore {{ pf3server_backup_directory }}."
  exit 1
}

aws logs put-log-events --log-group-name "$LOG_GROUP_NAME" --log-stream-name "$LOG_STREAM_NAME" --log-events "timestamp=$CURRENT_TIMESTAMP,message=SUCCESS\tSuccessfully restored {{ pf3server_backup_directory }}."

exit 0
