<VirtualHost *:80>
    ServerName  www.pinballfinder.org
    ServerAlias web-prod-lamp-1869719050.us-east-1.elb.amazonaws.com

    ServerAdmin pinfinderapp@www.pinballfinder.org

    #DocumentRoot /var/www

    Alias /pf3/ /var/www/pf3/

    ProxyPassMatch ^/pf3/(.*\.php(/.*)?)$ fcgi://127.0.0.1:9000/var/www/pf3/$1
    #DirectoryIndex /index.php index.php

    <Directory /var/www/pf3>
        AllowOverride All
    </Directory>
</VirtualHost>
