<VirtualHost *:80>
    ServerName  www.samology.com
    ServerAlias samology.com

    ServerAdmin webmaster@www.samology.com

    DocumentRoot {{ samology_docroot }}

    <Directory "{{ samology_docroot }}">
        AllowOverride All
    </Directory>

    <Directory "{{ samology_docroot }}/multimedia">
        Options Indexes MultiViews
        AllowOverride None
        Require all granted
    </Directory>

    ScriptAlias "/cgi-bin/" "{{ samology_docroot }}/cgi-bin/"
</VirtualHost>
