<VirtualHost *:80>
    ServerName  www.pinballfinder.org
    ServerAdmin webmaster@www.pinballfinder.org
    DocumentRoot /var/www/pf3server

    <Directory /var/www/pf3server>
        AllowOverride All
    </Directory>
</VirtualHost>
