#!/bin/bash

set -e

DB_NAME={{ pinballfinder_db_name }}

MYSQL_DEFAULTS_FILE=/home/ubuntu/.pf_wp.my.cnf

BACKUP_DIR={{ pinballfinder_backup_directory }}
BACKUP_FILENAME=${DB_NAME}.sql
BACKUP_FILE=${BACKUP_DIR}/${BACKUP_FILENAME}

BACKUP_DAYS=15

mkdir -p ${BACKUP_DIR}

MYSQLDUMP=$(which mysqldump)

SAVELOG=$(which savelog)

${SAVELOG} -n -c ${BACKUP_DAYS} ${BACKUP_FILE}

${MYSQLDUMP} --defaults-file=${MYSQL_DEFAULTS_FILE} ${DB_NAME} > ${BACKUP_FILE}

BACKUP_FILENAME=pinballfinder.tar.gz
BACKUP_FILE=${BACKUP_DIR}/${BACKUP_FILENAME}

${SAVELOG} -n -c ${BACKUP_DAYS} ${BACKUP_FILE}

tar -zcvf ${BACKUP_FILE} {{ pinballfinder_docroot }}

exit 0
